body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  position: fixed;/*This will keep header section or navigation links on fixed position */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Header background color */
  color: #fff; /* Header text color */
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

#logo {
  height:  80px;
  max-width: 100%; 
  display: block; 
  padding-left: 20px;
}

.mainheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: inline-block;
}

nav a:hover {
  text-decoration: underline;
}

main {
  margin-top: 100px; /* To push content below the fixed header */
  padding: 20px;
  padding-bottom: 100px;
  text-align: center;
}

 footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

 .brand-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.brand-item img {
  transition: transform 0.3s, opacity 0.3s;
  width: 100px; 
}

.brand-item:hover img {
  transform: scale(1.2);
  z-index: 10;
}

.brand-gallery a:not(:hover) img {
  opacity: 0.6; 
}

.gallery-image {
  width: 100%; 
  height: 300px;
  object-fit: contain; 
}

.custom-bs-font-size {
  font-size: 24px;
}

.custom-bs-header-size {
  font-size: 30px;
  font-weight: bold;
}

#registrationForm label {
  text-align: left;
  display: block;
}

.invalid-feedback {
  text-align: left;
  display: block;
}